@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  html {
    scroll-behavior: smooth;
  }
}

/* Swiper specific styles */
.swiper-slide {
  width: 21rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  border-radius: 1rem;
  overflow: hidden;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHdlYiUyMGRldmVsb3BtZW50fGVufDB8fDB8fHww")
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://www.concretecms.com/application/files/4316/9454/8287/web_design.png")
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1628233345409-349459e6f79a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D")
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1712002641088-1191ef635cf2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D")
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://plus.unsplash.com/premium_photo-1661678060948-b8d1d293889a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat 50% 50% / cover;
}

.swiper-slide--six {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1556741533-6e6a62bd8b49?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible;
}

/* Why Choose Us section styles */
.service-card {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 75px 24px 44px;
  position: relative;
  z-index: 1;
}

.service-card:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(1, 25, 59, 6%);
  transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
  z-index: -1;
}

.service-card-overlay {
  background-image: linear-gradient(to left, #7114ef, #1475f7);
  height: 152px;
  width: 100%;
  position: absolute;
  top: -44px;
  left: 0;
  z-index: -1;
  border-radius: 15px 15px 0 0;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
}

.service-card-overlay:before {
  content: "";
  z-index: 88;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 100%;
  background-size: cover;
}

.service-card-icon {
  min-width: 76px;
  width: 76px;
  height: 76px;
  line-height: 76px;
  z-index: 1;
  display: inline-block;
  position: absolute;
  top: -38px;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
}

.service-card-icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #7114ef, #1475f7);
  border-radius: 25px;
  box-shadow: 0 6px 6px rgba(113, 20, 239, 0.3);
  z-index: -1;
  transform: rotate(45deg);
}

.service-card-title {
  font-size: 20px;
  color: #101130;
  padding-bottom: 24px;
  margin-bottom: 25px;
  position: relative;
  transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
}

.service-card-title:before {
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 4px;
  width: 88px;
  background-image: linear-gradient(to right, #7114ef, #1475f7);
  position: absolute;
  transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
}

.service-card-desc {
  color: #57586d;
  text-align: center;
  line-height: 1.5;
  transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
}

.service-card-readmore {
  position: absolute;
  bottom: 11px;
  left: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
  visibility: hidden;
}

/* Hover effects */
.service-card:hover:before {
  box-shadow: 0 34px 32px rgba(1, 25, 59, 0.14);
  border-radius: 8px 60px 8px 8px;
  height: calc(100% + 44px);
}

.service-card:hover .service-card-overlay {
  opacity: 1;
}

.service-card:hover .service-card-icon {
  top: -8px;
}

.service-card:hover .service-card-icon:before {
  background: #fff !important;
}

.service-card:hover .service-card-icon svg {
  color: #7114ef;
}

.service-card:hover .service-card-title {
  transform: translateY(60px);
}

.service-card:hover .service-card-title:before {
  transform: scaleX(0);
}

.service-card:hover .service-card-desc {
  opacity: 0;
  transform: translateY(20px);
}

.service-card:hover .service-card-readmore {
  opacity: 1;
  visibility: visible;
  bottom: 31px;
}
